body{
    background-image: url(doodle\ 7.jpg);
}


.box0{
    width: 520px;
    height: 300px;
    margin-top: 160px;
    margin-left: 230px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: 10px;
}
.t2{
    padding-left: 90px;
}
.t3{
    margin-left: 150px;
    margin-right: 120px;
}
.email{
    margin-left: 20px;
}
.instagram{
    margin-left: 25px;
    padding-bottom: 400px;
    text-decoration: none;
    color: black;

}
.t5{
    margin-left:15px;
}